/* scroll.css */

.scroll-to-section-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #F68C1F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-to-section-button.show {
  opacity: 1;
}

.scroll-to-section-button:hover {
  background-color: #F68C1F;
}
