@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

.infinite-scroll-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  animation: infinite-scroll 5s linear infinite;
}

.infinite-scroll-item {
  display: inline-block;
  padding: 0 1rem; /* Adjust as needed */
}

/* Animation Starts */
.moving-div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  transform: translateY(-50%) rotate(40deg); /* Apply rotation */
  animation: move-and-disappear 7s infinite;
  animation-delay: 0s !important;
  background-clip: none;
}

@keyframes move-and-disappear {
  0% {
    left: 30%;
    opacity: 0.7;
  }
  80% {
    left: 80%;
    opacity: 0.5;
  }
  100% {
    left: 80%;
    opacity: 0.2;
  }
}
/* Animation Ends */

.home {
  position: relative; /* Ensure the div can contain absolutely positioned elements */
  height: auto;
  overflow: hidden; /* Hide overflow to prevent image overflow */
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the image covers the entire container */
  height: 100%; /* Ensure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  z-index: -1; /* Ensure it's behind other content */
}

.dropdown-left {
  right: 0;
  left: auto;
}


@media screen and (max-width:700px) {
  .home {
    position: relative; /* Ensure the div can contain absolutely positioned elements */
    height: auto;
    overflow: hidden; /* Hide overflow to prevent image overflow */
  }
  
}