@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

<<<<<<< HEAD
=======
.dark-mode .home-image {
  filter: brightness(0.8); /* Brightens the image slightly in dark mode */
}

.dark-overlay {
  background: rgba(255, 255, 255, 0.15); /* Light overlay in dark mode */
  z-index: 1;
}

>>>>>>> 45633d500292b8492e79fcb945c6a61726f8b6c7
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6); 
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(255,255,255,255); 
}
.navbar-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}
/* In your Home.css or a relevant CSS file */
.navbar-sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: white; /* Ensure the background is set */
}


.infinite-scroll-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  animation: infinite-scroll 5s linear infinite;
}

.infinite-scroll-item {
  display: inline-block;
  padding: 0 1rem; /* Adjust as needed */
}

/* Animation Starts */
.moving-div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  transform: translateY(-50%) rotate(40deg); /* Apply rotation */
  animation: move-and-disappear 7s infinite;
  animation-delay: 0s !important;
  background-clip: none;
}

@keyframes move-and-disappear {
  0% {
    left: 30%;
    opacity: 0.7;
  }
  80% {
    left: 80%;
    opacity: 0.5;
  }
  100% {
    left: 80%;
    opacity: 0.2;
  }
}
/* Animation Ends */

.home {
  position: relative; /* Ensure the div can contain absolutely positioned elements */
  height: 100vh;
  overflow: hidden; /* Hide overflow to prevent image overflow */
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the image covers the entire container */
  height: 100%; /* Ensure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  z-index: -1 !important; /* Ensure it's behind other content */
}

.dropdown-left {
  right: 0;
  left: auto;
}

.home-text{
  height: 95vh;
}

@media screen and (max-width:700px) {
  .home {
    position: relative; /* Ensure the div can contain absolutely positioned elements */
    height: 80vh;
    overflow: hidden; /* Hide overflow to prevent image overflow */
  }
  
  .home-image {
    position: absolute;
    top: 0;
    right: 0%;
    width: 120vw; /* Ensure the image covers the entire container */
    height: 100%; /* Ensure the image covers the entire container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    z-index: -1 !important; /* Ensure it's behind other content */
  }
  .home-text{
    height: 80vh;
  }
  
}