
@media screen and (min-width: 730px) {
  .banner {
    background-image: url("../assets/banner.webp");
    height: 60vh;
    background-size: cover;
  }
  .cardContainer {
    /* Adjust these styles as per your design requirements */
    /* border: 1px solid; */
    width: 90%;
    margin-bottom: 2rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    border-radius: 20px !important;
  }

  .imageContainer {
    min-width: 44vw;
    max-width: 44vw;
    width: 44vw;
    border-radius: 20px !important;
    height:50vh;
  }

  .img {
    width: 100vw;
    height: 100vh;
    object-fit:fill;
    border-radius: 20px;
  }
  .textContainer{
    padding: 1rem;
    width: 100%;
  }

  .disc {
    margin-right: 10px;
  }
  .request{
    width: 80%;
  }
  .phone{
    width: 17%;
  }
}


@media screen and (max-width: 730px) and (min-width:0px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin-bottom: 1rem;
  }

  .tour-image {
    height: auto;
    object-fit: cover;
  }
  
  .imageContainer {
    width: 100%;
    height:auto;
    overflow: hidden;
  }

  .img {
    width: 100%;
    object-fit:contain;
  }
  .textContainer{
    width: 100%;
    padding: 0.4rem;
  }

  .disc {
    margin-right: 10px;
  }
  .request{
    width: 80%;
  }
  .phone{
    width: 17%;
  }
}
