@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding: 1rem 5rem;
}

* {
  font-optical-sizing: auto;
  font-weight: 500;
}
body {
  overflow: scroll;
}
/* body::-webkit-scrollbar {
  display: none; 
} */
*{
  scroll-behavior: smooth !important;
}
