@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  padding: 1rem 5rem;
}

* {
  font-optical-sizing: auto;
  font-weight: 500;
}
body {
  overflow: scroll;
}
/* body::-webkit-scrollbar {
  display: none; 
} */
*{
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "BostonAngelRegular";
  src: url("/fonts/BostonAngelRegular.woff2") format("woff2"),
       url("/fonts/BostonAngelRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MarchClean";
  src: url("/fonts/MarchClean.woff2") format("woff2"),
       url("/fonts/MarchClean.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.boston {
  font-family: "BostonAngelRegular", sans-serif;
}
.march {
  font-family: "MarchClean", sans-serif;
}
